body {
	font: 100%/1.5 "Trebuchet MS", Arial, Helvetica;
	max-width: 960px;
	margin: 36px auto;
	background-image: url(../images/bg.png)
}

#wrapper {
	width: 850px;
	height: 1600px;
	border-style: solid;
	border-width: 2px;
	border-color: #3CF;
}

container {
	width: 53.529411765%; /* 455/850 */
	height: 62px;
	float: left;
	padding-top: 15px;
	padding-left: 3.296703297%;
	padding-bottom: 15px;
}

h1 {
	font-family: "911 Porscha";
	color: #C3C;
	font-size: 1.5em;
	text-align: left;
	line-height: normal;
	text-shadow: 2px 2px #000;
}

nav {
	width: 39.411764706%; /* 330/850 */
	float: left;
	padding-top: 25px;
}

ul {
	width: 450px;
	margin: 0 auto;
	list-style-type: none;
	display: inline;
	float: left;
	overflow: hidden;
}

a {
	text-decoration: none;
	display: block;
	width: 110px;
	line-height: 30px;
	text-align: center;
	float: left;
	color: #C3C;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	}

a:hover {
	background-color: #C3C;
	color: #fff;
}

a:active {
	background-color:#3CF;
	color: #C3C;
}

.aside {
	width: 96.588235294118%; /* 821/850 */
	height: 400px;
	padding-right: 3.045066991474%; /* 25/850 */
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	background-color: #0CF;
	float: left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000;
	text-align: left;
	box-shadow: 5px 5px 2px #000;
}

.character {
	width: 37.149817296%;
	height: 390px;
	border: 2px;
	border-color: #C3C;
}

character img {
	max-width: 100%
}

.name {
	width: 62.85082704%;
	height: 130px;
	font-family: "911 Porscha";
	font-size: 2.25em;
	color: #fff;
	line-height: 150px;
	text-align: center;
	float: left;
}

join {
	width: 23.529411764706;
	height: 100px;
	float: right;
	padding: 20px 0% 0px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	color: #0CF;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #fff;
	border: solid 1px #09F;
	background: #09F;
	background: -webkit-gradient(linear, left top, left bottom, from(#3CF), to(#09F));
	background: -moz-linear-gradient(top, #39F, #3CF);
}

.blue:hover {
	background: #09F;
	background: -webkit-gradient(linear, left top, left bottom, from(#3CF), to(#09F));
	background: -moz-linear-gradient(top, #39F, #9CF);
}

.blue:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#9CF), to(#999));
	background: -moz-linear-gradient(top, #9CF, #999);
}

.gallery {
	width: 57.058823529412%; /* 510/850 */
	height: 50px;
	padding-left: 2.941176470588%; /* 15/510 */
	padding-top: 20px;
	float: left;
}

h2 {
	font-family: "911 Porscha";
	color: #090;
	font-size: 1.5em;
	text-align: left;
	line-height: normal;
	text-shadow: 2px 2px #000;
	overflow: hidden;
}

.attributes {
	width: 37.647058823529%; /* 320/850 */
	height: 250px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	padding-top: 20px;
	float: left;
}

h3 {
	font-family: "911 Porscha";
	color: #090;
	font-size: 24px;
	text-align: center;
	text-shadow: 2px 2px #000;
}

ol {
	list-style-type: circle;
	list-style-position: inside;
	line-height: 35px;
	text-align: left;
}

.article {
	width: 94.117647058824%; /* 825/850 */
	height: 335px;
	background-color: #C3C;
	border: 2px solid #000;
	box-shadow: 5px 5px 2px #000;
	padding-left: 3.030303030303%; /* 25/825 */
	padding-right: 3.030303030303%; /* 25/825 */
	float: left;
}

h4 {
	font-family: "911 Porscha";
	color: #090;
	font-size: 24px;
	text-align: left;
	text-shadow: 2px 2px #000;
	padding-top: 0px;
}

.column {
	-moz-column-count: 3;	
}

.membership {
	width: 94.117647058824%; /* 825/850 */
	height: auto;
	background-color: #0CF;
	border: 2px solid #000;
	box-shadow: 5px 5px 2px #000;
	padding-left: 3.030303030303%; /* 25/825 */
	padding-right: 3.030303030303%; /* 25/825 */
	padding-bottom: 1%;
	float: left;	
}

h5 {
	font-family: "911 Porscha";
	color: #090;
	font-size: 24px;
	text-align: left;
	text-shadow: 2px 2px #000;
}

table {
	border-collapse: collapse;
	overflow: none;
}

.options {
	width: 55%;
	height: auto;
	float: left;
	overflow: hidden;
}

th {
	font-size: 1.5em;
	text-align: center;	
}

.vip {
	color: #C0F;	
}

td {
	width: 200px;
	height: 35px;
	border: 1px solid #000;
	padding: .5%;
}

.odd {
	background-color: #C3F;	
}

.even {
	background-color: #C9F;
}

.signup {
	width: 45%;
	height: auto;
	float: right;
}

input:focus {
	background: #C3C;	
}

.footer {
	width: 94.117647058824%; /* 825/850 */
	height: 65px;
	background-color: #C3C;
	color: #fff;
	border: 2px solid #000;
	box-shadow: 5px 5px 2px #000;
	padding-left: 3.030303030303%; /* 25/825 */
	padding-right: 3.030303030303%; /* 25/825 */
	float: left;		
}


/* Media Queries
================================== */

/*Tablet Portrait Size to Standard 960 Devices and Browsers*/
@media screen and (min-width: 768px) and (max-width: 960px) {

	wrapper {
		width: auto;
		border: none;
	}
	
	.character {
		overflow: hidden;
	}
	
	.name {
		width: auto;
		float: left;
	}
	
	.signup {
	width: 45%;
	height: auto;
	float: left;
}
	
}

/*Mobile Landscape Size to Tablet Portrait Devices and Browsers*/
@media screen and (min-width: 480px) and (max-width: 767px) {
	
	wrapper {
		width: auto;
	}
	
	nav {
		float: none;
	}
	
	.aside {
		height: auto;
		box-shadow: none;
		padding: 3%;
	}
	
	aside img {
		display: none;
	}
	
	.name {
		width: 80%;
	}
	
	.attributes {
		width: auto;
		float: left;
		height: auto;		
	}
	
	.gallery, .article {
		width: auto;
		height: auto;
	}
	
	.column {
	-moz-column-count: 2;	
	}

	join {
		display: none;
	}

	.signup {
	width: 45%;
	height: auto;
	float: none;
	}

}

/*Mobile Portrait Size to Mobile Landscape Size Devices and Browsers*/
@media screen and (max-width: 468px) {
	#wrapper {
		width: auto;
	}
	
	.aside {
		background: none;
		border: none;
		box-shadow: none;
	}
	
	join {
		display: none;	
	}
	
	h1, .aside, .name, .gallery, h2, ul {
		width: auto;
		float: none;
		height: auto;
		overflow: visible;
		padding: 0.625%;
	}
	
	.attributes {
		width: auto;
		float: clear;
		height: auto;
	}
	
	nav {
		display: none;
	}
	
	.article {
		width: auto;
		float: left;
		height: auto;
	}
	
	.column {
	-moz-column-count: 1;	
	}
	
	.signup {
	width: 45%;
	height: auto;
	float: none;
	padding-top: 25px;
}
	
}